server:
  port: '8081'

spring:
  output:
    ansi:
      enabled: ALWAYS
  application:
    name: temperature-processing
  rabbitmq:
    host: localhost
    port: 5672
    username: rabbitmq
    password: rabbitmq